<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        *{
            background-color: rgb(190, 125, 252);
        }
        button{
            background-color: rgb(253, 54, 54);
            color: white;
        }
    </style>
</head>
<body>
    <h1>The total number of user are : <%= count %></h1>
    <button>Join us today!</button>
</body>
</html>