<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
        *{
            background-color: rgb(206, 157, 253);
        }
        button{
            background-color: rgb(245, 83, 83);
            color: white;
        }
    </style>
</head>
<body>
    <h1>The total number of user are : <%= count %></h1>
    <button>Join us today!</button>
    <br>
    <br>
    <a style="color: rgb(255, 34, 34);" href="http://localhost:8080/user">Click here to open the database</a>
    <br>
    <a style="color: rgb(251, 34, 34);" href="http://localhost:8080/user/new">Click here to add a new user</a>
</body>
</html>